.newsletter > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.newsletter h3 {
    font-weight: 100;
}

.newsletter p {
    font-size: medium;
}

.newsletter .email {
    padding-left: 14px;
    height: 47px;
    width: 250px;
    border-width: 0;
    background-color: #EBEBEB;
}

.newsletter .submit {
    height: 48px;
    font-family: var(--body-font-family);
  font-size: medium;
  font-weight: 100;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  color: var(--background-color);
  background-color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
  }

  
  .newsletter .submit:hover, .submit:focus, .submit:focus, .submit:hover  {
    background-color: var(--link-hover-color);
    cursor: pointer;
  }