section .article {
    max-width: 1200px;
    margin:auto
}

.article > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
}

:scope h2, h4 {
    font-weight: 100;
}

.article-summary {
    font-size: smaller;
    line-height: 1.5em;
}

.article a.button:any-link, button {
    font-family: var(--body-font-family);
    font-size: medium;
    display: inline-block;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    color: var(--text-color);
    background-color: #FFEB00;
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;
  }
  
.article a.button:hover, button:focus, a.button:focus, button:hover  {
    background-color: #FCF073;
    cursor: pointer;
  }

.article > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F7F7F7;
}

.article-spacer {
    flex-grow: 1;
}

.article > div > div:nth-child(2) {
    width: 100%;
}

div.media-wrapper > div > div > div:nth-child(2) > picture > img {
    height:100%;
}



