footer {
  padding: 2rem;
  background-color: black;
  color: white;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer .default-content-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  align-items: center;
}

footer .footer .default-content-wrapper ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer .footer .default-content-wrapper li {
  display: block;
  align-self: center;
}

footer .footer img {
  height: 40px;
  width: auto;
}

footer .footer p {
  margin: 0;
}
